In [2]:
import pandas as pd

In [7]:
df.head()

,job_link,job_summary,job_summary_clean
0,https://www.linkedin.com/jobs/view/restaurant-...,rock n roll sushi hiring restaurant manager re...,rock n roll sushi hire restaurant manager rest...
1,https://www.linkedin.com/jobs/view/med-surg-re...,schedule prn required minimum hour per period ...,schedule prn require minimum hour period job s...
2,https://www.linkedin.com/jobs/view/registered-...,description introduction looking place deliver...,description introduction look place deliver ex...
3,https://uk.linkedin.com/jobs/view/commercial-a...,commercial account executive sheffield full ti...,commercial account executive sheffield time pe...
4,https://www.linkedin.com/jobs/view/store-manag...,address usactnewington fenn road store code hu...,address usactnewington fenn road store code hu...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348454 entries, 0 to 1348453
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   job_link             1348454 non-null  object
 1   last_processed_time  1348454 non-null  object
 2   got_summary          1348454 non-null  object
 3   got_ner              1348454 non-null  object
 4   is_being_worked      1348454 non-null  object
 5   job_title            1348454 non-null  object
 6   company              1348443 non-null  object
 7   job_location         1348435 non-null  object
 8   first_seen           1348454 non-null  object
 9   search_city          1348454 non-null  object
 10  search_country       1348454 non-null  object
 11  search_position      1348454 non-null  object
 12  job_level            1348454 non-null  object
 13  job_type             1348454 non-null  object
dtypes: object(14)
memory usage: 144.0+ MB

In [1]:
import pandas as pd
import os

# Correct the file paths for input and output, both within the 'data' folder
input_file = 'data/job_summary_preprocessed.csv'  # This should be the file path as a string
output_file = 'data/sample_job_summary.csv'

# Define the approximate size limit for the sample in bytes (500MB)
max_size = 500 * 1024 * 1024  # 500 MB in bytes

# Read the large CSV in chunks and sample the data
chunk_size = 100000  # Size of each chunk to process
total_sample = pd.DataFrame()

try:
    for chunk in pd.read_csv(input_file, chunksize=chunk_size):
        sample_chunk = chunk.sample(frac=0.01)  # Adjust the fraction if necessary
        total_sample = pd.concat([total_sample, sample_chunk], ignore_index=True)

        # Save the intermediate sample to CSV and check the size
        total_sample.to_csv(output_file, index=False)
        if os.path.getsize(output_file) >= max_size:
            break

    # Save the final sample to a CSV file in the 'data' folder
    total_sample.to_csv(output_file, index=False)
    print(f"Sample saved to {output_file} (approximately {max_size / (1024 * 1024)} MB)")

except FileNotFoundError:
    print(f"Error: The file {input_file} does not exist. Please check the file path.")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

Sample saved to data/sample_job_summary.csv (approximately 500.0 MB)